[submodule "dependencies/couchdb"]
	path = dependencies/couchdb
	url = git://github.com/apache/couchdb
[submodule "dependencies/otp"]
	path = dependencies/otp
	url = git://github.com/erlang/otp.git
[submodule "ruby-inabox"]
	path = ruby-inabox
	url = git://github.com/jhs/ruby-inabox.git
[submodule "dependencies/ruby-inabox"]
	path = dependencies/ruby-inabox
	url = git://github.com/jhs/ruby-inabox
